<div class="hbox hbox-auto-xs hbox-auto-sm" ng-init="
    app.settings.asideFolded = false; 
    app.settings.asideDock = false;
  ">
  <!-- main -->
  <div class="col">
    <!-- main header -->
    <div class="bg-light lter b-b wrapper-md">
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <h1 class="m-n font-thin h3 text-black">Dashboard</h1>
          <small class="text-muted">Hi! My name is {{ hex.identity.name }}</small>
        </div>
        <div class="col-sm-6 text-right hidden-xs">
          <!--<div class="inline m-r text-left">-->
            <!--<div class="m-b-xs">1290 <span class="text-muted">items</span></div>-->
            <!--<div ng-init="data1=[ 106,108,110,105,110,109,105,104,107,109,105,100,105,102,101,99,98 ]" -->
              <!--ui-jq="sparkline" -->
              <!--ui-options="{{data1}}, {type:'bar', height:20, barWidth:5, barSpacing:1, barColor:'#dce5ec'}" -->
              <!--class="sparkline inline">loading...-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="inline text-left">-->
            <!--<div class="m-b-xs">$30,000 <span class="text-muted">revenue</span></div>-->
            <!--<div ng-init="data2=[ 105,102,106,107,105,104,101,99,98,109,105,100,108,110,105,110,109 ]" -->
              <!--ui-jq="sparkline" -->
              <!--ui-options="{{data2}}, {type:'bar', height:20, barWidth:5, barSpacing:1, barColor:'#dce5ec'}" -->
              <!--class="sparkline inline">loading...-->
            <!--</div>-->
          <!--</div>-->
        </div>
      </div>
    </div>
    <!-- / main header -->
    <div class="wrapper-md">

        <div class="row">
            <div class="col-md-12">
                <div class="panel no-border">
                    <div class="panel-heading wrapper b-b b-light">
                        <h4 class="font-thin m-t-none m-b-none text-muted">Nodes</h4>
                    </div>
                    <table class="table table-striped m-b-none">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Role</th>
                                <th>State</th>
                                <th>Internal Ip</th>
                                <th>External Ip</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="node in hex.nodes">
                                <td><a href="#/app/node/{{node.name}}">{{node.name}}</a></td>
                                <td>{{node.role}}</td>
                                <td>{{node.status}}</td>
                                <td>{{node.container.internalIp}}</td>
                                <td>{{node.container.externalIp}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
  </div>
  <!-- / main -->
  <!-- right col -->
  <div class="col w-md bg-white-only b-l bg-auto no-border-xs">
      <tabset class="nav-tabs-alt" justified="true">
          <tab>
              <tab-heading>
                  <i class="glyphicon glyphicon-align-justify text-md text-muted wrapper-sm"></i>
              </tab-heading>
              <div class="wrapper-md">
                  <div class="m-b-sm text-md">Stack Tint</div>
                  <p ng-if="!hex.tints.stack">
                      No stack tint has been installed. You can drop by the <a href="#/app/library">library</a> to install one.
                  </p>
                  <ul class="list-group no-bg no-borders pull-in" ng-if="hex.tints.stack">
                      <li class="list-group-item">
                          <a herf class="pull-left thumb-sm avatar m-r">
                              <img src="img/a4.jpg" alt="..." class="img-circle">
                              <i class="on b-white bottom"></i>
                          </a>
                          <a href="#/app/tint/stack/{{hex.tints.stack.id}}" class="text-muted"><i class="fa fa-eye pull-right m-t-sm text-sm"></i></a>
                          <div class="clear">
                              <div><a href>{{hex.tints.stack.name}}</a></div>
                              <small class="text-muted">{{hex.tints.stack.owner}}</small>
                          </div>
                      </li>
                  </ul>
              </div>

              <div class="wrapper-md" ng-if="hex.tints.stack">
                  <div class="m-b-sm text-md">Views</div>
                  <ul class="list-group no-bg no-borders pull-in" >
                      <li class="list-group-item" ng-repeat="view in hex.tints.stack.views">
                          <span class="pull-left thumb-sm avatar m-r"><img src="img/a4.jpg" alt="..." class="img-circle"></span>

                          <div class="clear">
                              <div><a href="{{view.url}}" target="_blank">{{view.label}}</a></div>
                              <small class="text-muted">{{view.url}}</small>
                          </div>
                      </li>
                  </ul>
              </div>
          </tab>
          <tab>
              <tab-heading>
                  <i class="glyphicon glyphicon-hdd text-md text-muted wrapper-sm"></i>
              </tab-heading>
              <div class="wrapper-md">
                  <div class="m-b-sm text-md">Data Tints</div>
                  <p ng-if="!hex.tints.stack">
                      No data tint has been installed. You can drop by the <a href="#/app/library">library</a> to install one.
                  </p>
                  <ul class="list-group no-borders pull-in auto">
                      <li class="list-group-item" ng-repeat="tint in hex.tints.data">
                          <span class="pull-left thumb-sm m-r"><img src="img/a1.jpg" alt="..." class="img-circle"></span>
                          <a href="#/tint/{{tint.type}}/{{tint.id}}" class="text-muted"><i class="fa fa-eye pull-right m-t-sm text-sm"></i></a>
                          <div class="clear">
                              <div><a href="">{{tint.name}}</a></div>
                              <small class="text-muted">by {{tint.owner}}</small>
                          </div>
                      </li>
                  </ul>
              </div>
          </tab>
          <tab>
              <tab-heading>
                  <i class="glyphicon glyphicon-book text-md text-muted wrapper-sm"></i>
              </tab-heading>
              <div class="wrapper-md">
                  <div class="m-b-sm text-md">Educational tints</div>
                  <p ng-if="!hex.tints.stack">
                      No educational tint has been installed. You can drop by the <a href="#/app/library">library</a> to install one.
                  </p>
                  <ul class="list-group no-borders pull-in auto">
                      <li class="list-group-item" ng-repeat="tint in hex.tints.edu">
                          <span class="pull-left thumb-sm m-r"><img src="img/a1.jpg" alt="..." class="img-circle"></span>
                          <a href="#/tint/{{tint.type}}/{{tint.id}}" class="text-muted"><i class="fa fa-eye pull-right m-t-sm text-sm"></i></a>
                          <div class="clear">
                              <div><a href="">{{tint.name}}</a></div>
                              <small class="text-muted">by {{tint.owner}}</small>
                          </div>
                      </li>
                  </ul>
              </div>
          </tab>
      </tabset>
  </div>
  <!-- / right col -->
</div>