/**********************************************************************************************************************
 * Library
 *********************************************************************************************************************/
.library {
    width: 100%;
    padding-top: 20px;
}

.library .owner {
    display: inline-block;
}

.library .item {
    position: relative;
    display: inline-block;
    width: 400px;
    height: 100px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.library .item .logo {
    position: absolute;
    left: 0;
    width: 100px;
    top: 0;
    bottom: 0;

    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    background-color: white;
    padding: 10px;
    border: solid 1px #dedede;
}

.library .item .logo img {
    margin-left: auto;
    margin-right: auto;
    max-height: 80px;
    max-width: 80px;
}

.library .item .caption {
    position: absolute;
    left: 100px;
    right: 50px;
    top: 0;
    bottom: 0;
    border-top: solid 1px #dedede;
    border-bottom: solid 1px #dedede;
    padding: 10px;
    background-color: white;
}

.library .item .caption h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: medium;
    font-family: "Open Sans Light", sans-serif;
    font-weight: 300;
}

.library .item .caption p {
    margin-top: 7px;
    margin-bottom: 0;
    font-size: small;
    font-family: "Open Sans Light", sans-serif;
    font-weight: 300;
}

.library .item .actions {
    position: absolute;
    right: 0;
    width: 50px;
    top: 0;
    bottom: 0;

    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background-color: white;
    padding: 5px;
    border: solid 1px #dedede;
    text-align: center;
}

.library .item .actions .action {
    color: #515151;
    margin-top: 10px;
}

.library .item .actions .action:hover {
    color: #008888;
}

.library .item .actions .action.danger:hover {
    color: #880000;
}

.card.stack .card-type { border-color: transparent rgb(32,124,229) transparent transparent; }
.card.stack .card-back { border-bottom: solid 4px rgb(32,124,229); }
.card.stack .card-actions .card-action:hover { color: rgb(32,124,229); }

.card.data .card-type { border-color: transparent #880000 transparent transparent; }
.card.data .card-back { border-bottom: solid 4px #880000; }
.card.data .card-actions .card-action:hover { color: #880000; }

.card.edu .card-type { border-color: transparent #008800 transparent transparent; }
.card.edu .card-back { border-bottom: solid 4px #008800; }
.card.edu .card-actions .card-action:hover { color: #008800; }