/**********************************************************************************************************************
 * Library
 *********************************************************************************************************************/
.library {
    width: 100%;
}

.library .card {
    display: inline-block;
    width: 200px;
    height: 190px;
    margin: 10px;
}

.library .card .card-front {
    width: 100%;
    text-align: center;
    border: solid 1px #ddd;
    background-color: white;
}

.library .card .card-back {
    width: 100%;
    padding: 10px;
    text-align: center;
    border: solid 1px #ddd;
    background-color: white;
}

.library .card .card-front .card-logo {
    max-height: 100px;
    max-width: 100px;
    margin-top: 30px;
    filter: brightness(0);
    -webkit-filter: brightness(0);
    -moz-filter: brightness(0);
    -ms-filter: brightness(0);
    -o-filter: brightness(0);
}

.card .card-type {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    right: 0;
    top: 0;
    border-width: 0 32px 32px 0;
}

.card.stack .card-type { border-color: transparent rgb(32,124,229) transparent transparent; }
.card.stack .card-back { border-bottom: solid 4px rgb(32,124,229); }
.card.stack .card-actions .card-action:hover { color: rgb(32,124,229); }

.card.data .card-type { border-color: transparent #880000 transparent transparent; }
.card.data .card-back { border-bottom: solid 4px #880000; }
.card.data .card-actions .card-action:hover { color: #880000; }

.card.edu .card-type { border-color: transparent #008800 transparent transparent; }
.card.edu .card-back { border-bottom: solid 4px #008800; }
.card.edu .card-actions .card-action:hover { color: #008800; }

.card .card-front h3 {
    font-size: large;
    font-weight: 300;
    width: 100%;
    margin: 0;
    position: absolute;
    bottom: 0;
    height: 50px;
    padding-top: 18px;
    color: #515151;
}

.card .card-back .card-description {
    font-size: small;
}

.card .card-back .card-actions {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    text-align: center;
}

.card .card-actions .card-action:hover {
    cursor: pointer;
}