lxc.utsname = {{ tint_id }}
lxc.rootfs = /data/tints.r/{{ tint_id }}/rootfs
lxc.mount = /data/tints.r/{{ tint_id }}/fstab
lxc.mount.entry = /data /data/tints.r/{{ tint_id }}/data none rw,bind 0 0

lxc.start.auto = 1

lxc.tty = 32

lxc.network.type = veth
lxc.network.name = eth0
lxc.network.flags = up
lxc.network.link = lxcbr0
lxc.network.ipv4 = 172.20.40.{{ hex.node.container.slot }}/24
lxc.network.ipv4.gateway = 172.20.40.1