<bb-header>Hi, I'm {{hex.name}}</bb-header>

<hex-detail></hex-detail>

<table class="table">
    <thead>
        <tr>
            <td></td>
            <td>role</td>
            <td>name</td>
            <td>status</td>
            <td class="metric-column">°C</td>
            <td class="metric-column">load</td>
            <td class="metric-column">mem</td>
            <td class="metric-column">os</td>
            <td class="metric-column">data</td>
            <td></td>
        </tr>
    </thead>
    <tr ng-repeat="node in nodes">
        <td>{{$index + 1}}</td>
        <td>{{node.tags.role}}</td>
        <td>{{node.name}}</td>
        <td>{{node.status}}</td>
        <td>{{getMetric(node, 'temperature')}}°C</td>
        <td>{{getMetric(node, 'load') | loadMetric | number : 2}}</td>
        <td>{{getMetric(node, 'memory') | percentMetric | number : 1}}%</td>
        <td>{{getMetric(node, 'osDisk') | percentMetric | number : 1}}%</td>
        <td>{{getMetric(node, 'dataDisk') | percentMetric | number : 1}}%</td>
        <td>
            <div class="action">
                <span class="fa fa-terminal"></span>
            </div>
        </td>
    </tr>
</table>

<div class="tints">
    <h3 ng-if="!hasInstalledTints()">Currently there is no stack tint installed. You may go to the <a href="#/library">library</a> to install one</h3>

    <div class="tint" ng-class="tint.type" ng-repeat="tint in tints">
        <!--<div class="corner-top-right"></div>-->

        <div class="tint-body">
            <span class="name">{{tint.name}}</span>
            <span class="owner">{{tint.owner}}</span>
        </div>

        <div class="tint-actions">
            <div class="tint-action">
                <span class="fa fa-cogs"></span>
            </div>
            <div class="tint-action">
                <span class="fa fa-desktop"></span>
            </div>
            <div class="tint-action danger">
                <span class="fa fa-trash-o"></span>
            </div>
        </div>
    </div>
</div>