<bb-header title="'Hi, I am ' + hex.name"></bb-header>

<bb-content>
    <div class="container-fluid dashboard">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Hex Nodes
                    </div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th></th>
                            <th>role</th>
                            <th>name</th>
                            <th>internal ip</th>
                            <th>external ip</th>
                            <th>node status</th>
                            <!--<th></th>-->
                        </tr>
                        </thead>
                        <tr ng-repeat="node in nodes | orderBy:'Name'">
                            <td>{{$index + 1}}</td>
                            <td>{{ node['Tags']['role'] }}</td>
                            <td>{{ node['Name'] }}</td>
                            <td>{{ node['Tags']['network.eth0.ip']}}</td>
                            <td>{{ node['Tags']['network.eth0:0.ip']}}</td>
                            <td>{{ node['Status'] }}</td>
                            <!--<td>-->
                                <!--<div class="action">-->
                                    <!--<span class="fa fa-terminal"></span>-->
                                <!--</div>-->
                            <!--</td>-->
                        </tr>
                    </table>
                </div>
            </div>
        </div>


<div class="tints">
    <h3 ng-if="!stack">Currently there is no stack tint installed. You may go to the <a href="#/library">library</a> to install one</h3>

    <div ng-if="stack" class="tint stack">
        <!--<div class="corner-top-right"></div>-->

        <div class="tint-body">
            <span class="name">{{ stack.id }}</span>
            <span class="owner">{{ stack.owner }}</span>
        </div>

        <div class="tint-actions">
            <!--<div class="tint-action">-->
                <!--<span class="fa fa-cogs"></span>-->
            <!--</div>-->
            <a class="tint-action"href="#/stacks/{{ stack.owner }}/{{ stack.id }}">
                <i class="fa fa-desktop"></i>
            </a>
            <div class="tint-action danger" ng-click="uninstallStack(stack)">
                <span class="fa fa-trash-o"></span>
            </div>
        </div>
    </div>
</div>
    </div>
</bb-content>