<bb-header>Hi, I'm {{hex.name}}</bb-header>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>role</th>
            <th>name</th>
            <th>node ip</th>
            <th>node status</th>
            <th>container ip</th>
            <th>container status</th>
            <th class="metric-column">°C</th>
            <th class="metric-column">load</th>
            <th class="metric-column">mem</th>
            <th class="metric-column">os</th>
            <th class="metric-column">data</th>
            <th></th>
        </tr>
    </thead>
    <tr ng-repeat="node in nodes">
        <td>{{$index + 1}}</td>
        <td>{{node.tags.role}}</td>
        <td>{{node.container.name}}</td>
        <td>{{node.network.externalIp}}</td>
        <td>{{node.status}}</td>
        <td>{{node.container.externalIp}}</td>
        <td>{{node.container.status}}</td>
        <td>{{getMetric(node, 'temperature')}}°C</td>
        <td>{{getMetric(node, 'load') | loadMetric | number : 2}}</td>
        <td>{{getMetric(node, 'memory') | percentMetric | number : 1}}%</td>
        <td>{{getMetric(node, 'osDisk') | percentMetric | number : 1}}%</td>
        <td>{{getMetric(node, 'dataDisk') | percentMetric | number : 1}}%</td>
        <td>
            <div class="action">
                <span class="fa fa-terminal"></span>
            </div>
        </td>
    </tr>
</table>

<div class="tints">
    <h3 ng-if="!hasInstalledTints()">Currently there is no stack tint installed. You may go to the <a href="#/library">library</a> to install one</h3>

    <div class="tint" ng-class="tint.type" ng-repeat="tint in tints">
        <!--<div class="corner-top-right"></div>-->

        <div class="tint-body">
            <span class="name">{{tint.name}}</span>
            <span class="owner">{{tint.owner}}</span>
        </div>

        <div class="tint-actions">
            <!--<div class="tint-action">-->
                <!--<span class="fa fa-cogs"></span>-->
            <!--</div>-->
            <a class="tint-action"href="#/tints/{{tint.type}}/{{tint.id}}">
                <i class="fa fa-desktop"></i>
            </a>
            <div class="tint-action danger" ng-click="removeTint(tint)">
                <span class="fa fa-trash-o"></span>
            </div>
        </div>
    </div>
</div>