<div>
    <h2 class="col-12">Hi, I'm {{hex.name}}</h2>
</div>

<hex-detail></hex-detail>

<h3>Tints</h3>
<div class="tints">
    <div class="col-lg-4 col-md-4 col-sm-4 tint-type">
        <div class="tint-icon">
            <div class="tint-icon-content">
                <i class="fa fa-2x fa-align-justify"></i>
                <!--<h3 class="panel-title">stack</h3>-->
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 tint-type">
        <div class="tint-icon">
            <div class="tint-icon-content">
                <i class="fa fa-2x fa-database"></i>
                <!--<h3 class="panel-title">data</h3>-->
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 tint-type">
        <div class="tint-icon">
            <div class="tint-icon-content">
                <i class="fa fa-2x fa-graduation-cap"></i>
                <!--<h3 class="panel-title">education</h3>-->
            </div>
        </div>
    </div>
</div>