.icon {

}

.hex-horizontal { content: "\2B23"; }
.hex-horizontal-o { content: "\2394"; }
.hex-vertical { content: "\2B22"; }
.hex-vertical-o { content: "\2B21"; }

.node-card {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 10px;
}

.node-card-front {
    border: solid 1px #dddddd;
    background-color: white;
    color: #515151;
    display: table;
}

.node-card-front .header-icon {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    text-align: center;
    font-size: xx-large;
}

.node-card-front .header-name {
    display: table-row;
    text-align: center;
    font-size: x-small;
}

.node-card-front .content {
    font-size: x-small;
    text-align: center;
    padding: 10px;
    height: 100px;
}

.node-card-back {
    border: solid 1px #dddddd;
    background-color: white;
}

.node-card-back .header {
    background-color: #008888;
    color: white;
    padding: 5px;
}


.node-card .indicator {
    display: inline-block;
    padding: 5px;
    font-size: small;
}

.node-card .btn-details {
    position: absolute;
    right: 0;
    top: 30px;
    width: 30px;
    background-color: #008888;
    display: table;
    height: 83px;
}

.node-card .btn-details span {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: white;
}