<bb-header title="{{hex.tint.name}} Configuration"></bb-header>

<bb-content>
    <table class="table param-table">
        <tr class="param" ng-repeat="parameter in configuration">
            <td class="param-label">{{parameter.label}}</td>
            <td class="param-value">
                <div class="input-prepend input-append">
                    <span class="add-on">{{parameter.type}}</span>
                    <input type="text" value="{{parameter.values.all}}">
                    <!--<span class="add-on">.00</span>-->
                </div>
            </td>
            <td class="param-description">
                <p>{{parameter.description}}</p>
            </td>
        </tr>
    </table>
</bb-content>

<bb-sidepane icon="fa-gears"></bb-sidepane>