<bb-header title="{{hex.tint.name}} Configuration"></bb-header>

<bb-content>
    <table class="table param-table">
        <tr class="param" ng-repeat="parameter in configuration">
            <td class="param-label">{{parameter.label}}</td>
            <td class="param-value">
                <div class="input-group">
                    <span class="input-group-addon">{{parameter.type}}</span>
                    <input type="text" class="form-control" value="{{parameter.values.all}}" disabled>
                </div>
            </td>
            <td class="param-description">
                <p>{{parameter.description}}</p>
            </td>
        </tr>
    </table>
</bb-content>

<bb-sidepane icon="fa-gears"></bb-sidepane>