<div class="setup">
    <div class="hex step" ng-class="activeClass('welcome')">
        <div class="content" ng-click="next()">
            <h1>Welcome!</h1>
            <p>First of all, thank you for your support! We are sure we can help you save a lot of time during your endeavours.</p>
            <p>To continue, click on this hex</p>
        </div>
        <div class="corner-1"></div>
        <div class="corner-2"></div>
    </div>
    <div class="hex step" ng-class="activeClass('bootstrap')">
        <div class="content" ng-click="next()">
            <h1>Bootstrap</h1>
            <p>We need to bootstrap your hex with the latest packages. Please make sure your hex is connected to the internet.</p>
            <p>If you are certain it is, click on this hex to start the bootstrapping process.</p>
        </div>
        <div class="corner-1"></div>
        <div class="corner-2"></div>
    </div>
    <div class="hex step" ng-class="activeClass('bootstrapping')">
        <div class="content">
            <h1>Bootstrapping</h1>
            <p>Please wait while your hex is being bootstrapped.</p>
        </div>
        <div class="corner-1"></div>
        <div class="corner-2"></div>
    </div>
    <div class="hex step" ng-class="activeClass('done')">
        <div class="content" ng-click="next()">
            <h1>Hooray!</h1>
            <p>We have finished setting up your hex. Now go out there and have a lot of fun!</p>
            <p>Click on this hex to take you to the dashboard.</p>
        </div>
        <div class="corner-1"></div>
        <div class="corner-2"></div>
    </div>
</div>