/**********************************************************************************************************************
 * Tasks
 *********************************************************************************************************************/
.tasks {
    color: #515151;
}


.tasks h3:first-child {
    margin-top: 0;
}

.tasks h3 {
    margin-left: 20px;
    margin-right: 20px;
}

.tasks p {
    margin-left: 20px;
    margin-right: 20px;
}

.tasks .table td {
    vertical-align: middle;
}