- hosts: all
  tasks:
{% raw %}
    - name: make sure the directories are available
      file: state=directory path={{ item }} owner="bb" mode=0755
      with_items:
{% endraw %}
        - /data
        - /data/{{ tint.owner }}
        - /data/{{ tint.owner }}/{{ tint.slug }}
        - /data/{{ tint.owner }}/{{ tint.slug }}/config
        - /data/{{ tint.owner }}/{{ tint.slug }}/data
        - /data/{{ tint.owner }}/{{ tint.slug }}/files
        - /data/{{ tint.owner }}/{{ tint.slug }}/tmp

{% for group in tint.stack.groups %}
- hosts: {{ group.runs_on }}
  sudo: yes
  roles:
  {% for role in group.containers %}
    - { role: {{ role }}, mode: 'install' }
  {% endfor %}

{% endfor %}