- hosts: all
  sudo: yes
  tasks:
{% raw %}
    - name: make sure the directories are available
      file: state=directory path={{ item }}
      with_items:
{% endraw %}
        - /data
        - /data/{{ tint.owner }}
        - /data/{{ tint.owner }}/{{ tint.id }}
        - /data/{{ tint.owner }}/{{ tint.id }}/config
        - /data/{{ tint.owner }}/{{ tint.id }}/data
        - /data/{{ tint.owner }}/{{ tint.id }}/files

{% for (groupKey, groupValue) in stack.groups.iteritems() %}
- hosts: {{ groupValue.runs_on }}
  sudo: yes
  roles:
  {% for role in groupValue.containers %}
    - { role: {{ role }}, mode: 'install' }
  {% endfor %}

{% endfor %}