{% if item.value.pre_install is defined %}{{ lookup('file', tint.path + '/' + item.value.pre_install) }}{% endif %}

- name: make sure the role template directory exists
  file:
    state: "directory"
    path: "{{'{{'}} config_path {{'}}'}}/{{ item.key }}"

- name: make sure the configuration files are available
  template:
    src: "{{ '{{' }} item {{ '}}' }}"
    dest: "{{'{{'}} config_path {{'}}'}}/{{ item.key }}/"
  with_fileglob:
    - ../templates/*

- name: make sure the docker image is the latest one
  shell: docker pull {{ item.value.image }}

- name: make sure the container exists
  docker:
    docker_api_version: "1.15"
    name: "{{ item.key }}"
    net: "host"
    ports: "{{ item.value.ports|join(',') }}"
    publish_all_ports: "yes"
    volumes: "{{ '{{' }} config_path {{ '}}/' + item.key }}:{{ item.value.config }},{{ '{{' }} tmp_path {{ '}}/' + item.key }}:/tmp,{{ '{{' }} data_path {{ '}}/' + item.key }}:/data"
    memory_limit: 1073741824
    image: "{{ item.value.image }}"
    command: "{{ item.value.command }}"
    state: running

- name: make sure the init file is available
  copy: src={{ item.key }}.conf dest=/etc/init/{{ item.key }}.conf

- name: make sure the service is started at boot
  service: name={{ item.key }} enabled=yes state=started

{% if item.value.post_install is defined %}{{ lookup('file', tint.path + '/' + item.value.post_install) }}{% endif %}