- shell: docker inspect {{ item.key }} 2>&1
  ignore_errors: yes
  register: container

- shell: docker stop {{ item.key }}
  when: container.stdout.find("\"Running\"\: true") != -1

- shell: docker rm -f {{ item.key }}
  when: container.stdout.find('"Id":') != -1

- name: make sure the service script is removed
  file: state=absent path=/etc/init/{{ item.key }}.conf