- name: make sure the docker container is stopped
  docker:
    name: "{{ item.key }}"
    image: "{{ item.value.image }}"
    docker_api_version: "1.15"
    state: "killed"

- name: make sure the docker container is stopped
  docker:
    name: "{{ item.key }}"
    image: "{{ item.value.image }}"
    docker_api_version: "1.15"
    state: "absent"

- name: make sure the service script is removed
  file: state=absent path=/etc/init/{{ item.key }}.conf