- hosts: localhost
  sudo: yes
  tasks:
    - template: src=meta.json.j2 dest=/opt/bb/tints.d/stack/{{ tint.owner }}/{{ tint.id }}/meta.json

{% for (groupKey, groupValue) in stack.groups.iteritems() %}
- hosts: {{ groupValue.runs_on }}
  sudo: yes
  roles:
  {% for role in groupValue.containers %}
    - { role: {{ role }}, mode: 'uninstall' }
  {% endfor %}

{% endfor %}

- hosts: all,!localhost
  sudo: yes
  tasks:
    - file: state="absent" path="/data/{{ tint.owner }}/{{ tint.id }}"