<div class="hex-node">
    <div class="hex smaller">
        <div class="content" ng-click="toggleDetail()"></div>
        <div class="corner-1"></div>
        <div class="corner-2"></div>
    </div>
    <div class="hex-node-actions">
        <div class="btn-group">
            <button class="btn btn-default"><i class="fa fa-refresh"></i></button>
            <button class="btn btn-default"><i class="fa fa-arrow-right"></i></button>
        </div>
    </div>

    <div class="hex-node-content" ng-class="contentClass()">
        <h3>Node 1</h3>
        <div class="hex-node-metrics">
            <hex-node-metric unit="%" label="CPU Usage" model="metrics.cpu" ></hex-node-metric>
            <hex-node-metric unit="bytes" label="Memory Usage" model="metrics.memory" ></hex-node-metric>
            <hex-node-metric unit="bytes" label="Disk Usage" model="metrics.disk" ></hex-node-metric>
            <hex-node-metric unit="bytes" label="Temperature" model="metrics.temperature" ></hex-node-metric>
        </div>
    </div>

</div>