<div class="hex-container">
    <div class="hex-row">
        <hex type="hex-gap"></hex>
        <hex></hex>
        <hex></hex>
        <hex></hex>
        <hex></hex>

    </div>
    <div class="hex-row">
        <hex></hex>
        <hex></hex>
        <hex></hex>
        <hex></hex>
        <hex></hex>
        <hex-header><h4>Metrics</h4></hex-header>
        <hex type="colored" help-ref="metricCpuHelp"><h3 ng-style="levelStyle(currentCPU(), totalCPU())">{{((data.cpu.user + data.cpu.sys) / data.cpu.total) * 100 | number:1}} %</h3></hex>
        <hex type="colored" help-ref="metricMemoryHelp"><h3>{{data.memory.used | bytes}}</h3></hex>
        <hex type="colored" help-ref="metricDiskHelp"><h3>{{data.disk.used | bytes}}</h3></hex>
    </div>
    <div class="hex-row">
        <hex type="hex-gap"></hex>
        <hex-slot slot="slots['1']"></hex-slot>
        <hex-slot slot="slots['2']"></hex-slot>
        <hex></hex>
        <hex></hex>
        <hex></hex>
        <hex-help id="metricCpuHelp"><p>Current Load</p></hex-help>
        <hex-help id="metricMemoryHelp"><p>Current Memory Usage</p></hex-help>
        <hex-help id="metricDiskHelp"><p>Current Disk Usage</p></hex-help>
    </div>
    <div class="hex-row">
        <hex></hex>
        <hex-slot slot="slots['6']"></hex-slot>
        <hex></hex>
        <hex-slot slot="slots['3']"></hex-slot>
        <hex></hex>
        <hex-header><h4>Actions</h4></hex-header>
        <hex-button help-ref="actionsShellHelp"><a href="#/shell" target="_blank"><i class="fa fa-terminal fa-3x"></i></a></hex-button>
        <hex-button help-ref="actionsUpdateHelp" ng-click="update()"><i class="fa fa-refresh fa-3x"></i></hex-button>
        <hex-button ng-if="!hex.tint" help-ref="actionsLibraryHelp" attention="'No tint has been installed'"><a href="#/library"><i class="fa fa-tint fa-3x"></i></a></hex-button>
        <hex-button ng-if="hex.tint" help-ref="actionsLibraryHelp"><a href="#/library"><i class="fa fa-tint fa-3x"></i></a></hex-button>
    </div>
    <div class="hex-row">
        <hex type="hex-gap"></hex>
        <hex-slot slot="slots['5']"></hex-slot>
        <hex-slot slot="slots['4']"></hex-slot>
        <hex></hex>
        <hex></hex>
        <hex></hex>
        <hex-help id="actionsShellHelp"><p>Open a shell</p></hex-help>
        <hex-help id="actionsUpdateHelp"><p>Update the hex</p></hex-help>
        <hex-help id="actionsLibraryHelp">
            <p ng-if="hex.tint">Open the tint library</p>
            <p ng-if="!hex.tint">No tint installed yet!</p>
        </hex-help>
    </div>
    <div class="hex-row">
        <hex></hex>
        <hex></hex>
        <hex></hex>
        <hex></hex>
        <hex></hex>
        <hex-header ng-if="hex.tint"><p>{{hex.tint.name}}</p></hex-header>
        <hex-button ng-if="hex.tint" help-ref="tintConfigureHelp"><a href="#/tints/configuration"><i class="fa fa-gears fa-3x"></i></a></hex-button>
        <hex-button ng-if="hex.tint" help-ref="tintViewsHelp"><a href="#/tints/views"><i class="fa fa-desktop fa-3x"></i></a></hex-button>
        <hex-button ng-if="hex.tint" help-ref="tintRemoveHelp" type="danger" ng-click="removeTint()"><i class="fa fa-trash-o fa-3x"></i></hex-button>
    </div>
    <div class="hex-row">
        <hex type="hex-gap"></hex>
        <hex></hex>
        <hex></hex>
        <hex></hex>
        <hex></hex>
        <hex></hex>
        <hex-help ng-if="hex.tint" id="tintConfigureHelp"><p>Configure</p></hex-help>
        <hex-help ng-if="hex.tint" id="tintViewsHelp"><p>Open View</p></hex-help>
        <hex-help ng-if="hex.tint" id="tintRemoveHelp"><p>Remove the tint</p></hex-help>
    </div>

    <bb-task-tile></bb-task-tile>
</div>