- name: make sure the [[ role.name ]] role data directory exists
  file:
    state: "directory"
    path: "[[ dirs.role_data ]]"
    owner: bb
    mode: 0755

[% include generator.pre_install ignore missing %]

###############################################################################
##
## Volumes
##
###############################################################################
[% for volume in role.volumes %]
[% if isRelativePath(volume.host) %]
- name: make sure the [[ role.name ]] configuration directory exists
  file: state="directory" path="[[ dirs.config ]]/[[ volume.host ]]" owner="bb"

- name: make sure the [[ role.name ]] configuration files are available
  template:
    src: "{{ item }}"
    dest: "[[ dirs.config ]]/[[ volume.host ]]"
  with_fileglob:
    - ../templates/[[volume.host]]/*

[% endif %]
[% endfor %]
- name: make sure the [[ role.image ]] docker image is the latest one
  sudo: yes
  shell: docker pull [[ role.image ]]-{{ ansible_machine }}

###############################################################################
##
## Docker
##
###############################################################################

- name: make sure the [[ role.name ]] docker container exists
  sudo: yes
  docker:
    docker_api_version: "1.15"
    name: "[[ role.name ]]"
    net: "host"
    ports:[% for port in role.ports %]
      - "[[ port.host ]]:[[ port.container ]]"[% endfor %]
    publish_all_ports: "yes"
    volumes:
      - "[[ dirs.role_data ]]:/data"[% for volume in role.volumes %][% if isRelativePath(volume.host) %]
      - "[[ dirs.config ]]/[[ volume.host ]]:[[ volume.container ]]"[% else %]
      - "[[ volume.host ]]:[[ volume.container ]]"[% endif %][% endfor %]
    image: "[[ docker.registry ]]/[[ role.image ]]-{{ ansible_machine }}"
[% if not isFalsy(role.command) %]
    command: "[[ role.command ]]"
[% endif %]
[% if not isFalsy(role.privileged) %]
    privileged: yes
[% endif %]
    state: running[% if not isFalsy(role.environment) %]
    env:[% for envVar in role.environment %]
      [[ envVar.key ]]: "[[ envVar.value ]]"[% endfor %][% endif %]

- name: make sure the [[ role.name ]] init file is available
  copy: src=[[ role.name ]].conf dest=/etc/init/[[ role.name ]].conf
  sudo: yes

- name: make sure the [[ role.name ]] service is started at boot
  service: name=[[ role.name ]] enabled=yes state=started
  sudo: yes

[% include generator.post_install ignore missing %]